[Unit]
Description=GoCD Agent

[Service]
Type=forking
User=gocd
ExecStart=/gocd/go-agent-23.5.0/bin/go-agent start sysd
ExecStop=/gocd/go-agent-23.5.0/bin/go-agent stop sysd
KillMode=control-group
Environment=SYSTEMD_KILLMODE_WARNING=true

[Install]
WantedBy=multi-user.target